---
const data = await fetch(
  "https://fruuiyihpenjgolbdeyc.supabase.co/rest/v1/products?Location=eq.København",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZydXVpeWlocGVuamdvbGJkZXljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjk3MzYsImV4cCI6MjA1OTg0NTczNn0.mprUmmwcPKbraQs_3YsBjAow4FzM_Hu0SjEVSkdeI0w",
    },
  }
).then((res) => res.json());
// console.log(data);

import Burgermenu from "../components/Burgermenu.astro";

import Sektion6 from "../components/Sektion6.astro";
import Dropdown from "../components/Dropdown.astro";
import Sektion7 from "../components/Sektion7.astro";
import Footer from "../components/Footer.astro";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <Burgermenu />

  <Sektion6 />
  <Dropdown />
  <section class="grid">
    {
      data.map((product) => {
        return <Card data={product} />;
      })
    }
  </section>
  <Footer />
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: auto;
  }
</style>
