---

---

<article>
  <img src="" alt="" />
  <p></p>
  <h2></h2>
  <p></p>
</article>

<style>
  display: flex;
  width: 300px;
  height: 549px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
</style>
