<nav class="navbar">
  <a href="http://"></a><img
    src="../../logo/logo.webp"
    class="logo"
    alt="Logo"
  />
  <div class="burgermenu">
    <div class="menu-toggle" id="menu-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <ul class="menu" id="menu">
      <li>
        <a href="https://www.anothercloset.dk/faq" target="_blank">FAQ</a>
      </li>
      <li>
        <a href="https://www.anothercloset.dk/signup" target="_blank"
          >Bliv medlem</a
        >
      </li>
      <li>
        <a href="https://www.anothercloset.dk/signin" target="_blank">Log ind</a
        >
      </li>
      <li>
        <a href="../../#closets" target="_blank">Klædeskabe</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  .logo {
    width: 40%;
    height: auto;
    /* margin-left: 30%; */
  }
  .burgermenu {
  }
  .navbar {
    display: flex;
    position: relative;
    padding: 1rem;
    text-align: right;
    justify-content: space-between;
  }

  .menu-toggle {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 2;
  }

  .bar {
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.3s;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
  }

  .menu li {
    padding: 10px 20px;
  }

  .menu li a {
    font-style: italic;
    text-decoration: none;
    color: black;
  }

  .menu li a:hover {
    text-decoration: underline;
  }

  .menu li a:active {
    font-weight: bolder;
  }

  .menu.open {
    display: block;
  }

  .menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  @media (min-width: 800px) {
    .menu {
      display: flex !important; /* Vis menuen horisontalt */
      position: static;
      flex-direction: row;
      gap: 2rem;
      background: none;
      border: none;
      font-size: 100%;
      padding-top: 10%;
      padding-bottom: 10%;
    }

    .menu li {
      padding: 0;
    }

    .menu-toggle {
      display: none; /* Skjul burger-menu på desktop */
    }
    @media (min-width: 800px) {
    }
    @media (min-width: 1100px) {
    }
  }
</style>

<script>
  const toggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("menu");

  if (toggle && menu) {
    toggle.addEventListener("click", () => {
      toggle.classList.toggle("open");
      menu.classList.toggle("open");
    });
  }
</script>
