<section class="testimonial-section">
  <blockquote>
    “For mig er det en del af et overordnet livsvalg, der handler om at arbejde
    mindre, bo mindre og forbruge mindre. Another Closet bliver en mulighed for
    at lege og eksperimentere med tøj i et sjovt, rummeligt og bæredygtigt
    fællesskab uden at skulle løbe rundt i tilværelsen for at have penge nok til
    det hele.”
  </blockquote>
  <p class="author">Lotte, medlem roskilde</p>

  <div class="testimonial-image">
    <img src="billeder/medlem.webp" alt="Lotte og anden medlem" />
    <div class="badge">
      <img src="billeder/stempel.webp" alt="Stempel" />
    </div>
  </div>
</section>

<style>
  .testimonial-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
    color: #000;
  }

  .testimonial-section blockquote {
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 2rem;
    padding: 0px 20px;
  }

  .testimonial-section .author {
    text-align: right;
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--brown);
    padding: 0px 20px;
  }

  .testimonial-image {
    width: 60%;
    position: relative;
    display: inline-block;
    transform: rotate(-3deg);
    border: 10px solid var(--beige);
    border-bottom: 40px solid var(--beige);

    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .testimonial-image img {
    display: block;
    width: 100%;
    height: auto;
  }

  .testimonial-image .badge {
    position: absolute;
    bottom: -60px;
    left: 10px;
    width: 80px;
  }
</style>
