<div class="scrolling-banner">
  <div class="scrolling-text">
    <p>
      BLIV EN AF ANOTHER CLOSETS 50 NYE AMBASSADØRER • Post 2 billeder på
      Instagram hver måned og lån et ekstra stykke tøj om måneden •
    </p>
  </div>
</div>

<section class="how-it-works">
  <h1>Dele-tøj på abonnement!</h1>
  <h2>Sådan fungerer det?</h2>

  <div class="how-it-works-image">
    <img src="billeder/how-to.webp" alt="Kvinde vælger jakke" />
  </div>

  <div class="steps">
    <div class="step">
      <span class="step-number">1</span>
      <p>Find dit lokale<br />tøjfællesskab</p>
    </div>
    <div class="step">
      <span class="step-number">2</span>
      <p>Tilmeld dig for<br />149,- om måneden</p>
    </div>
    <div class="step">
      <span class="step-number">3</span>
      <p>Mød op til salonerne.<br />Lån 3 stykker tøj</p>
    </div>
    <div class="step">
      <span class="step-number">4</span>
      <p>En måned senere:<br />returner & lån nyt</p>
    </div>
  </div>
</section>
<style>
  .how-it-works {
    text-align: center;
    color: var(--brown);
    padding: 2rem 1rem;
    max-width: 700px;
    margin: 0 auto;
  }

  .how-it-works h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  .how-it-works-image img {
    max-width: 60%;
    border: 10px solid var(--beige);
    border-bottom: 40px solid var(--beige);

    margin-bottom: 2rem;
  }

  .steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    padding: 0px 20px;
  }

  .step-number {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.25rem;
  }

  .step p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
  }
  .scrolling-banner {
    width: 100%;
    overflow: hidden;
    background-color: var(--brown);
    white-space: nowrap;
    height: 3rem;
  }

  .scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 30s linear infinite;
    color: white;
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
